PORT=3001
DATABASE_URL=postgresql://postgres.vabswywpsrlelxbixdun:[YOUR-PASSWORD]@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.vabswywpsrlelxbixdun:[YOUR-PASSWORD]@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
REDIS_URL=redis://localhost:6379
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./service-account.json
GOOGLE_ADMIN_EMAIL=admin@yourdomain.edu
GOOGLE_CUSTOMER_ID=your-customer-id
NEXTAUTH_SECRET=your-secret-here
